<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiMbanking"
        tools:targetApi="31">
        <activity
            android:name=".Features.Auth.Login.AlertDialog.AlertDialogFailLogin"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.Login.AlertDialog.AlertDialogSuccessLogin"
            android:exported="false" />
        <activity
            android:name=".Features.Profile.UbahPw.AlertDialogUbahPwSuccess"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.OnBoard.Splash"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.Question.QuestionPage"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.OnBoard.OnBoard2"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.OnBoard.Onboard"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.BuatSandiSdh.AlertSandi.AlertSandiDEC"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.BuatSandiSdh.AlertSandi.AlertSandiACC"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.KonfRekSdh.AlertDialog.AlertUnregsdh"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.OtpSdh.AlertDialogOtpsdh.AlertUnvalidOTPsdh"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.OtpSdh.AlertDialogOtpsdh.AlertExpiredOTPsdh"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.OtpSdh.AlertDialogOtpsdh.AlertBerhasilOTP"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.MpinSdh.KonfirmasiMPINsdh.KonfirmasiMPINsdh"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.MpinSdh.BuatMPINsdh"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.MpinSdh.KonfirmasiMPINsdh.BuatMPINsdh"
             ndroid:exported="false" />
        <activity
            android:name=".Features.Transfer.SesamaBank.ResiTransfer"
            android:exported="false" />
        <activity
            android:name=".Features.Transfer.SesamaBank.MpinSesama"
            android:exported="false" />
        <activity
            android:name=".Features.Transfer.SesamaBank.InputNominal"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.KonfRekSdh.BottomSheetKonfRek"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.KonfRekSdh.KonfirmasiRekSudah"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.OtpSdh.OtpEmailSudah"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.BuatSandiSdh.BuatSandiSudah"
            android:exported="false" />
        <activity
            android:name=".Features.Auth.AdaRekening.KonfEmailSdh.KonfirmasiEmailSudah"
            android:exported="false" />
        <activity
            android:name=".Features.Transfer.Riwayat.Dashboard.NavbarContainer"
            android:exported="false" />
        <activity
            android:name=".Features.Transfer.Riwayat.Dashboard.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Features.Profile.UbahPw.UbahPw"
            android:exported="false" />
        <activity
            android:name=".Features.Profile.Profil.FProfil"
            android:exported="false" />
        <activity
            android:name=".Features.Transfer.SesamaBank.ListBank"
            android:exported="false" />
        <activity
            android:name=".Features.Transfer.SesamaBank.RekTujuan"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Features.Transfer.Riwayat.Riwayat" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Features.Auth.Login.Login"
            android:exported="false" />
        <activity
            android:name=".Features.Onboard.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>